<div class="general">
  <div class="miniatures row">
    <div class="col-12 col-sm-4 col-md-3">
      <div class="card">
        <h5 class="card-title">Ruta 1</h5>
        <a  href="rutes/ruta"><img src="../../assets/prova1.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3">
      <div class="card">
        <h5 class="card-title">Ruta 1</h5>
        <a  href="rutes/ruta"><img src="../../assets/prova1.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3">
      <div class="card">
        <h5 class="card-title">Ruta 1</h5>
        <a  href="rutes/ruta"><img src="../../assets/prova1.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3">
      <div class="card">
        <h5 class="card-title">Ruta 1</h5>
        <a  href="rutes/ruta"><img src="../../assets/prova1.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
