<div class="general">
  <div class="miniatures row">
    <div class="col-12 col-sm-4 col-md-3">
      <div class="card">
        <h5 class="card-title">Punt 1</h5>
        <a  href="punts/punt"><img src="../../assets/prova1.jpg" class="card-img-top" alt="..."></a>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3">
      <div class="card">
        <h5 class="card-title">Punt 1</h5>
        <a  href="punts/punt"><img src="../../assets/prova1.jpg" class="card-img-top" alt="..."></a>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3">
      <div class="card">
        <h5 class="card-title">Punt 1</h5>
        <a  href="punts/punt"><img src="../../assets/prova1.jpg" class="card-img-top" alt="..."></a>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3">
      <div class="card">
        <h5 class="card-title">Punt 1</h5>
        <a  href="punts/punt"><img src="../../assets/prova1.jpg" class="card-img-top" alt="..."></a>
      </div>
    </div>
  </div>
</div>
