@media (min-width: 576px)and (max-width: 768px) {
  .carousel-caption {
    background-color: rgb(43, 102, 154, 0.8);
  }
}

@media (min-width: 769px ) and (max-width: 991px) {
  .carousel-caption {
    background-color: rgb(43, 102, 154, 0.8);
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  #carouselExampleIndicators{
  max-height: 80%;
  }
  .carousel-inner{
    max-height: 80%;
  }
  .carousel-item{
    max-height: 80%;
  }
  section{
    min-height: 80%;
  }

  .carousel-caption{
    background-color: rgb(43,102,154,0.8);
    max-height: 50%;
  }
}
